<div class="login card">
  <div class="title">
    Log in
  </div>
	<div class="user {{if badUser "invalid"}}">
		<span class="label">user</span>
		{{input value=username action="login" on="enter"}}
	</div>
	<div class="password {{if badPwd "invalid"}}">
		<span class="label">password</span>
		{{input type="password" value=password action="login" on="enter"}}
	</div>
	<div class="actions">
		<div class="login-button btn deep-orange" {{action "login"}}>
  		Log in
		</div>
	</div>	
</div>
{{outlet}}
